<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li>
      <a
        routerLink="/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >About Component</a
      >
    </li>
    <li>
      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Home Component</a
      >
    </li>
    <li>
      <a
        routerLink="/videostream"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Video streaming Component</a
      >
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

<!-- <video controls>
  <source
    src="https://res.cloudinary.com/demo/video/upload/c_fill,g_auto:faces,h_450,w_450/r_20/v1/docs/walking_talking.webm"
    type="video/webm"
  />
</video> -->

<youtube-player [videoId]="id" (ready)="savePlayer($event)"></youtube-player>
<button (click)="playVideo()">Play Video</button>
<button (click)="pauseVideo()">Pause Video</button>
<br />


<video src="../assets/cartoon.mp4" autoplay="autoplay" controls #myVideo></video>
<button (click)="play()">Play Cartoon</button>
<button (click)="pause()">Pause Cartoon</button>
