.schome {
  p {
    color: blue;
  }
}

.table,
td,
th {
  border-collapse: collapse;
  border: solid 1px black;
  margin-bottom: 40px;
}

td,th {
    min-width: 100px;
}


.expensive {
    color: red;
}